<h1>Public</h1>



<!-- <h1>Custom Pipe In Angular</h1>
<h2>{{amount | currencyConvertor}}</h2>

<h2>{{100 | currencyConvertor:12}}</h2>

<h2>{{150 | currencyConvertor:5}}</h2> -->

<!-- <h1>
    Pipes in Angular
</h1>

<h1>{{title}}</h1>
<h1>{{title | uppercase}}</h1>
<h1>{{title | titlecase}}</h1>
<h1>{{title | lowercase}}</h1>
<h1>{{date | date}}</h1>
<h1>{{date | date:'fullDate'}}</h1>
<h1>{{date | date:'hh'}}</h1>
<h1>{{date | date:'hh:mm:ss'}}</h1>


<h1>{{amount | currency}}</h1>
<h1>{{amount | currency:'EUR'}}</h1>
<h1>{{amount | currency:'INR'}}</h1>


<h1>{{date | date:'fullDate' | uppercase}}</h1> -->

<!-- <h1>Pass data Child to Component</h1>
<app-user (getUsers)="handelUser($event)"></app-user>

@for(user of users; track user){
    <h1>{{user}}</h1>
}


 -->




<!-- <h1>Reuse Component</h1>

@for(user of users;track user){
    <div>

        <app-user [user]="user"></app-user>
    </div>
} -->








<!-- <h1>Pass Data to child component</h1>

<app-user [user]="selectedUser.value" city="Anand"></app-user>


<select #selectedUser (change)="onuser(selectedUser.value)" name="" id="">
    <option value="Harsh">Harsh</option>
    <option value="Ashu">Ashu</option>
</select>
 -->







<!-- <h1>Template Driven Forms</h1>

<form action="" #userForm="ngForm" (ngSubmit)="addDetails(userForm.value)">
    <input #name="ngModel" type="text" required placeholder="Enter Name" name="name" ngModel>
    <span class="error" *ngIf="name.invalid && name.touched">Name is Required</span>
    <br>
    <br>
    <input #password="ngModel" minlength="5" maxlength="10" required type="password" placeholder="Enter Password" name="password" ngModel>
      <span class="error" *ngIf="password.invalid && password.touched">Please enter valid Password is Required</span>
    <br>
    <br>
    <input #email="ngModel"  required type="email" placeholder="Enter Email" email name="email" ngModel>
      <span class="error" *ngIf="email.invalid && email.touched">Please enter valid email is Required</span>
    <br>
    <br>
    <select name="gender" ngModel>
        <option value="">Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
    <br>
    <br>
    <input type="range" min="0" max="20" name="range" ngModel>
    <br>
    <br>
    <button [disabled]="userForm.invalid">Add User</button>
</form>


<h3>{{userDetails?.name}}</h3>
<h3>{{userDetails?.password}}</h3>
<h3>{{userDetails?.gender}}</h3>

<h3>{{userDetails?.range}}</h3> -->






<!-- <h1>Form Grouping In Reactive Froms</h1>

<form action="" [formGroup]="profileForm" method="get" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Enter Name" formControlName="name">
    <span *ngIf="name?.hasError('required')">Name is Required</span>
    <span class="error" *ngIf="name?.invalid &&(name?.dirty || name?.touched)">User Enter</span>
    <br>
    <br>
    <input type="text" placeholder="Enter Password" formControlName="password">
    <span *ngIf="password?.hasError('required')">Password is Required</span>
    <span class="error" *ngIf="password?.invalid &&(password?.dirty || password?.touched)">Password Enter</span>
    <br>
    <br>
    <input type="text" placeholder="Enter Email" formControlName="email">
    <span *ngIf="email?.hasError('required')">Email is Required</span>
    <span class="error" *ngIf="email?.invalid &&(email?.dirty || email?.touched)">Email Enter</span>
    <br>
    <br>
    <button>Submit</button>
     <button type="button" (click)="setValue()">Set</button> 
</form> -->

<!-- <h1>{{this.profileForm.value.email}}</h1> -->



<!-- <h1>Basic of React Froms</h1>
<form action="" method="post">
    <input type="text" placeholder="Enter Name" [formControl]="name">
    <br>
    <br>
    <input type="text" placeholder="Enter Password"[formControl]="password">
    <br>
    <br>
    <button (click)="display()">Login</button>
   <button (click)="setValue()">Set Value</button>

</form> -->




<!-- <app-header></app-header>
<h1>Header With Routing</h1> -->









<!-- <h1>Routing</h1>
<ul>
    <li>
        <a routerLink="login">Login</a>
    </li>
    <li>
        <a routerLink="about">About</a>
    </li>
    <li>
        <a routerLink="contact">Contact</a>
    </li>
</ul>



<router-outlet>



</router-outlet> -->






















<!-- <h1>Directives in Angular</h1>

<h1 *ngIf="Show">Heading Tag</h1>

<h1>*ngSwitch</h1>

<button (click)="chnagecolor('red')">Red</button>
<button (click)="chnagecolor('green')">green</button>
<button (click)="chnagecolor('blue')">blue</button>

<div [ngSwitch]="color">


<h1 *ngSwitchCase="'blue'" style="background-color: blue;">H1</h1>
<h1 *ngSwitchCase="'green'" style="background-color: rgb(26, 255, 0);">H2</h1>
<h1 *ngSwitchCase="'red'" style="background-color: rgb(255, 25, 0);">H3</h1>
<h1 *ngSwitchDefault>NO</h1>
</div> -->




<!-- <h1>*nf for</h1>


<ul>
    <li
        *ngFor="let x of students">
        {{x}}
</li>
</ul>

<ul>
    <li
        *ngFor="let student of studentsData">
        {{student.name}},   {{student.age}}
</li>
</ul>

<ul>
  <li *ngFor="let student of studentsData1">
    <strong>{{ student.name }} – {{ student.age }}</strong>
    <ul>
      <li *ngFor="let subject of student.subjects">
        {{ subject }}
      </li>
    </ul>
  </li>
</ul> -->



<!-- <h1>*ngIf</h1>

<div *ngIf="block==0">
    <h1>Heading0</h1>
</div>
<div *ngIf="block==1">
    <h1>Heading1</h1>
</div>
<div *ngIf="block==2">
    <h1>Heading2</h1>
</div>

<button (click)="update()">Update</button>

 -->


<!-- <div *ngIf="login; else elseBlock">


<a href="">Logout</a>

</div>
<ng-template #elseBlock>

<a href="/">Login</a>
</ng-template>




<br> -->



<!-- <h1>Dynamic Style</h1>


<h1 [style.backgroundColor]="color"
 [style.fontSize]="fontSize"
>Dynamic Style</h1>



<h1 [style.fontSize]="zoom ? headingSizeBig : headingSizeSmall"> Headin</h1>


<button (click)="updateHeadingSize()">Toggle Chnage</button>
 -->




<!-- <h1> TO DO List App</h1>

<input type="text" placeholder="Enter Task" [(ngModel)]="task">

<button (click)="addTask()">Add Task</button>


@for(task of taskList; track task.id){
    <h2>
        <span>{{task.task}}</span>
        <button (click)="deleteTask(task.id)">Delete</button>
    </h2>
}

 -->




<!-- 
<h1>Two Way Binding</h1> -->

<!-- <input [(ngModel)]="name" type="text" placeholder="Enter Name">


<h1>{{name}}</h1> -->

<!-- 
<input type="text" (input)="chnageName($event)" placeholder="Enter Name">

<h1>{{name}}</h1> -->



<!-- <h1>For Loop contextual Variables</h1>


@for(user of users; track user;
 let i= $index; 
 let first= $first; 
 let last= $last; 
 let even= $even; 
 let odd= $odd
 
 ){
    @if(first){
        <h4 style="background-color: red;">this is our {{i+1}} user and name is {{user}}</h4>
    }
    @else if(last){
        <h4 style="background-color: green;">this is our {{i+1}} user and name is {{user}}</h4>
    }
    @else if(even){
        <h4 style="background-color: blue;">this is our {{i+1}} user and name is {{user}}</h4>
    }
    @else if(odd){
        <h4 style="background-color: yellow;">this is our {{i+1}} user and name is {{user}}</h4>
    }
    @else{
        <h4 style="background-color: gray;">this is our {{i+1}} user and name is {{user}}</h4>
    }
    
    
 <h1>{{$count}}</h1> 
}
@empty{
    <h1>No Users Found</h1>
}




 -->











<!-- <h1>Effect</h1>



<h1>{{count()}}</h1>

<button (click)="toggleValue()" >Update userName</button>


@if(displayHeading){
    <h1 style="background-color: red;">Page Heading</h1>
}   

 -->






<!-- <h1>Computed Signals</h1>

<button (click)="()">Show Value</button>


 -->




<!-- <h1>Types with Signals</h1>   


<h2>{{data()}}</h2>

<h2>{{count()}}</h2>

<button (click)="updateSignal()">Update</button> -->



















<!-- <h1>Basic of Signals</h1>
 <button (click)="updateCount('dec')">Decrement</button>
<h1>{{count()}}</h1>
<button (click)="updateCount('inc')">Increment</button>
 

<button (click)="count.set(count()-1)">Decrement</button>
<h1>{{count()}}</h1>
<button (click)="count.set(count()+1)">Increment</button>
 









<h1>{{count()}}</h1>
<h1>{{x}}</h1>

<button (click)="count.set(100)">Incres Value</button>

<button (click)="updateCount()">Update Value</button> -->



<!-- <h1>For Loop | Control Flow</h1>

<h2>Users List</h2>




@for(student of students;track student.name){
    <h2>
        <span>{{student.name}}</span> 
        <span> - {{student.age}} years old</span>   
    <span> - {{student.city}}</span>


    </h2>
}
 -->




<!-- <h1>Switch Case</h1>
<button (click)="handleColor('red')">Red</button>
<button (click)="handleColor('blue')">Blue</button>
<button (click)="handleColor('green')">Green</button>
<button (click)="handleColor('black')">Black</button>




@switch(color){
    @case('red'){
        <h1 style="background-color: red; width: 100px; height: 100px;">   </h1>
    }
    @case('blue'){
        <h1 style="background-color: blue; width: 100px; height: 100px;">   </h1>
    }
    @case('green'){
        <h1 style="background-color: green; width: 100px; height: 100px;">   </h1>
    }
    @default{
        <h1 style="background-color: black; width: 100px; height: 100px;">   </h1>
    }
} -->















<!-- <h1> Else  If | Control Flow</h1>

<button (click)="handleColor(1)">Red</button>
<button (click)="handleColor(2)">Blue</button>
<button (click)="handleColor(3)">Green</button>
<button (click)="handleColor(10)">Black</button>

<input type="text" (input)="handleInput($event)" placeholder="Enter Color Number">

@if(color==1){
    <div style="background-color: red; width: 100px; height: 100px;">
</div>
}
@else if(color==2){
<div style="background-color: rgb(13, 0, 255); width: 100px; height: 100px;">
</div>
}
@else if(color==3){
<div style="background-color: rgb(0, 255, 8); width: 100px; height: 100px;">
</div>
}
@else{
<div style="background-color: rgb(4, 4, 4); width: 100px; height: 100px;">
</div>
} -->



<!-- <h1> If Else | Control Flow</h1>



 @if(x==10){
<div style="width: 200px;height: 200px; background-color: green;"> 
</div>
} 


<button (click)="hide()">Hide Div</button>
<button (click)="show()">Show Div</button>



 @if(display){
<div style="width: 200px;height: 200px; background-color: green;"> 
</div>
} 
<hr>
 <button (click)="toggleTwo()">{{toggleDiv?'show red div':'show gold'}}</button> 

@if(toggleDiv){
    <div style="width: 200px;height: 200px; background-color: rgb(130, 39, 2);"> 
</div>
}
@else{
    <div style="width: 200px;height: 200px; background-color: rgb(2, 39, 130);">
</div>
} -->
<!-- <h1>Get and Set</h1>

<h1>User Name is : {{displayName}}</h1>

<input type="text" value="{{name}}" (input)="getName($event)" placeholder="Enter Name">

<br>
<br>

<button (click)="showName()">Get Value</button>
<button (click)="setName()">Set Name</button>


<hr>
<h1>User Email is : {{email}}</h1>
<input type="text" value="{{email}}" placeholder="Enter Email" #emailField>
<button (click)="getEmail(emailField.value)">Get Email</button>
<button (click)="setEmail()">Set Email</button>




 -->


















<!-- <h1>Counter App</h1>

<button class="btn" name="login" (click)="handleEvent($event)">ok</button>

<br>
<br>

<div 
(mouseenter)="handleEvent($event)"

style="background-color: green; width: 100px;  height: 100px;">

</div>



<div 
(mouseleave)="handleEvent($event)"

style="background-color: blue; width: 100px;  height: 100px;">

</div>

<br>
<br>


<input type="text" 
(focus)="handleEvent($event)"
(blur)="handleEvent($event)"
(input)="handleEvent($event)" 

name="user">

<input type="text" 
(input)="handleEvent($event)" 
placeholder="Type Something"
name="user">
 -->

<!-- 
<div style="text-align:center;">
    <h2 class="count">{{count}}</h2>
    <div>
        <button (click)="handleCounter('inc')" class="btn bg-red">Increment</button>
        <button (click)="handleCounter('reset')" class="btn bg-green">Reset</button>
        <button (click)="handleCounter('dec')" class="btn bg-blue">Decrement</button>


    </div>



</div> -->